@import '../../styles/common';

.Link {
  appearance: none;
  display: inline;
  text-align: inherit;
  padding: 0;
  background: none;
  border: 0;
  font-size: inherit;
  color: var(--p-interactive-action, color('blue'));
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--p-interactive-action-hovered, color('blue', 'dark'));
    text-decoration: underline;
  }

  &:focus {
    text-decoration: var(--p-override-none, underline);
    outline: none;
  }

  &:focus:not(:active) {
    @include focus-ring;
    @include plain-button-backdrop(
      var(--p-override-none, plain-button-background())
    );
  }

  &:active {
    @include plain-button-backdrop(var(--p-neutral-action, none));
    color: var(--p-interactive-action-pressed, color('blue', 'dark'));
    text-decoration: var(--p-override-none, underline);
  }
}

.IconLockup {
  @include recolor-icon(currentColor);
  display: inline;
  white-space: nowrap;

  &::before {
    content: '\2060';
  }
}

.IconLayout {
  display: inline-flex;

  &::before {
    content: '\2060';
  }
}

.monochrome {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}
